<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.jatin.wi_bird">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".AboutUsActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_main"
            android:parentActivityName=".ControlActivity"
            android:screenOrientation="portrait" >
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.jatin.wi_bird.ControlActivity" />
        </activity>
        <activity
            android:name=".ControlActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_control"
            android:screenOrientation="portrait">

            <!-- Parent activity meta-data to support 4.0 and lower -->
        </activity>
        <activity
            android:name=".SensorActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_sensor"
            android:parentActivityName=".ControlActivity"
            android:screenOrientation="portrait">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jatin.wi_bird.ControlActivity" />
        </activity>
        <activity
            android:name=".VelocityActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_velocity"
            android:parentActivityName=".ControlActivity"
            android:screenOrientation="portrait">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jatin.wi_bird.ControlActivity" />
        </activity>
        <activity
            android:name=".DeviceListActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_device_list"
            android:screenOrientation="portrait" />

        <service
            android:name=".BtConnection"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".SplashScreenActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".WhiteLineSensorActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:parentActivityName=".ControlActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jatin.wi_bird.ControlActivity" />
        </activity>

        <activity
            android:name=".SharpSensorActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:parentActivityName=".ControlActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jatin.wi_bird.ControlActivity" />
        </activity>
        <activity
            android:name=".ProximitySensorActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:parentActivityName=".ControlActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jatin.wi_bird.ControlActivity" />
        </activity>

    </application>

</manifest>